main {
  background-image: url("src/assets/backgroundspace.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(30, 30, 30, 0.9);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.1rem;
}

input {
  width: 18.6rem;
}

input::placeholder {
  color: #696969;
}

button {
  background-color: #3d5bff;
  margin-top: 2.25rem;
  margin-bottom: 7rem;
}

img {
  width: 25rem;
}

.container-input {
  display: flex;
  gap: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10rem;
}

p {
  color: #3d5bff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 7rem;
}

@media screen and (max-width: 1000px) {
  section {
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    display: none;
  }
}
