<main>
  <section>
    <div class="container">
      <h3>Está com alguma dúvida?</h3>
      <p>Entre em contato conosco</p>
      <div class="container-input">
        <input type="text" placeholder="Nome Completo:" />
        <input type="text" placeholder="Contato:" />
      </div>
      <div class="container-input">
        <input type="text" placeholder="E-mail:" />
        <input type="text" placeholder="E-mail:" />
      </div>
      <textarea
        id="mensagem"
        name="mensagem"
        rows="4"
        cols="68"
        placeholder="Mensagem:"
      ></textarea>
      <button>Enviar mensagem</button>
    </div>
    <div>
      <img src="assets/sms.png" alt="sms" />
    </div>
  </section>
  <app-footer></app-footer>
</main>
