.container {
  background-color: #181818;
  width: 15rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

img {
  margin-bottom: 1.125rem;
}

p {
  margin-bottom: 1rem;
}

.title {
  color: #ffb868;
  font-size: 1.25rem;
}

span {
  margin-bottom: 0.9rem;
}

.text {
  color: #fff;
  font-size: 0.75rem;
}

.link {
  color: #ffb868;
  font-size: 0.625rem;
}
