<section class="container">
  <div class="container-image">
    <app-blur class="blur"></app-blur>
    <div class="background-container">
      <img src="assets/logo.svg" alt="logo" />
    </div>
  </div>
  <div class="container-text">
    <h2>Quem Somos?</h2>
    <span>A Força Transformadora por Trás do Seu Sucesso!</span>
    <p>
      A Brabos Digital surgiu com o objetivo de impactar o mercado, enquanto
      traz soluções inteligentes para os negócios, com o intuito de simplificar
      processos enquanto impulsiona os resultados em todas as características,
      através das melhores e mais atuais estratégias existentes no mercado.
      Hoje, a Brabos Digital vive um momento de expansão, tanto no que temos a
      oferecer, quanto em equipe, magnitude e relevância, atendendo vários
      clientes satisfeitos, tanto no setor público quanto no setor privado.
    </p>
    <button>👑 Conheça a Brabos</button>
  </div>
</section>
