<section>
  <div class="detalhe1">
    <img class="detalhe-img1" src="assets/detalhe.svg" alt="" />
  </div>
  <div class="container">
    <div class="container-text">
      <h4>Torne-se seu negócio um case de sucesso!</h4>
      <p>
        Posicionamos sua empresa na internet de forma estratégica utilizando as
        maiores ferramentas de anúncios.
      </p>
    </div>
    <div class="container-image">
      <app-blur color="blue" class="blur"></app-blur>
      <app-card-network></app-card-network>
    </div>
  </div>
  <div class="detalhe2">
    <img class="detalhe-img2" src="assets/detalhe.svg" alt="" />
  </div>
</section>
