<footer class="container">
  <div>
    <a href=""><img class="logo" src="assets/logo.svg" alt="logo" /></a>
  </div>
  <div>
    <p>Siga nossas redes sociais</p>
    <ul class="redes">
      <a href=""
        ><img src="assets/linkedin-square-icon.svg" alt="linkedin"
      /></a>
      <a href=""
        ><img src="assets/black-instagram-icon.svg" alt="instagram"
      /></a>
      <a href=""
        ><img src="assets/facebook-square-icon.svg" alt="facebook"
      /></a>
      <a href=""><img src="assets/whatsapp-icon.svg" alt="whatsapp" /></a>
    </ul>
  </div>
  <div class="container-contato">
    <a href="">Home</a>
    <a href="">Sobre nós</a>
    <a href="">Soluções</a>
    <a href="">Contato</a>
  </div>
  <div>
    <div class="contato">
      <p>Conato:</p>
      <span>77 90000-0000</span>
    </div>
    <div>
      <p>Endereço:</p>
      <span>Av. Oscar Silva, nº15 - Candeias</span>
    </div>
  </div>
</footer>
