<header>
  <nav>
    <div>
      <a href=""><img class="logo" src="assets/logo.svg" alt="logo" /></a>
    </div>

    <div class="menu-links">
      <a class="nav-header" href="">Home</a>
      <a class="nav-header" href="">Sobre nós</a>
      <a class="nav-header" href="">Soluções</a>
      <a class="nav-header" href="">Contato</a>
    </div>

    <div class="redes">
      <a href=""
        ><img src="assets/linkedin-square-icon.svg" alt="linkedin"
      /></a>
      <a href=""
        ><img src="assets/black-instagram-icon.svg" alt="instagram"
      /></a>
      <a href=""
        ><img src="assets/facebook-square-icon.svg" alt="facebook"
      /></a>
      <a href=""><img src="assets/whatsapp-icon.svg" alt="whatsapp" /></a>
    </div>
  </nav>
</header>
