.carousel {
  width: 1000px;
  overflow-x: auto;
  overflow: hidden;
  display: flex;
  gap: 32px;
}

.container-brand {
  display: flex;
}

.slide {
  width: 250px;
  height: 230px;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.container-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}

button {
  background-color: transparent;
}
