<div class="carousel-container">
  <div class="carousel" #imagesContainer>
    <div
      class="slide"
      *ngFor="let slide of slidesData; let i = index"
      [class.active]="i === currentIndex"
      [style.background]="slide.background"
    >
      <img
        src="{{ slide.src }}"
        [style.width]="slide.width"
        [style.height]="slide.height"
      />
    </div>
  </div>
  <div class="container-button">
    <button (click)="prevSlide()">
      <img src="assets/seta-esquerda.svg" alt="seta" />
    </button>
    <button (click)="nextSlide()">
      <img src="assets/seta-direita.svg" alt="seta" />
    </button>
  </div>
</div>
