.container-bg {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.background-image {
  background-image: url("src/assets/bg-azul.png");
  background-size: cover;
  background-position: center;
  width: 60rem;
  height: 60rem;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
}

.container-image {
  display: flex;
  align-items: center;
  height: 39rem;
  padding: 0;
  left: 0;
}

.image-cel {
  width: 18.5rem;
  height: 39rem;
  z-index: 2;
}

.image1 {
  width: 11rem;
  height: 19.6;
}

.image2 {
  width: 15.6rem;
  height: 23.9rem;
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
