.container {
  display: flex;
  position: relative;
  padding: 0;
}

.container-image {
  display: flex;
  align-items: center;
  height: 629px;
  padding: 0;
  left: 0;
}

.image-cel {
  width: 297px;
  height: 629px;
  z-index: 2;
}

.image1 {
  width: 179px;
  height: 315px;
}

.image2 {
  width: 250px;
  height: 383px;
}
