.container {
  display: flex;
  position: relative;
  padding: 0;
}

.container-image {
  display: flex;
  align-items: center;
  height: 39rem;
  padding: 0;
  left: 0;
}

.image-cel {
  width: 18.5rem;
  height: 39rem;
  z-index: 2;
}

.image1 {
  width: 11rem;
  height: 19.6;
}

.image2 {
  width: 15.6rem;
  height: 23.9rem;
}
