section {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 2.5rem;
  background-color: #ef3dff;
}

input {
  width: 37.5rem;
  font-size: 1rem;
  padding-top: 0.75rem;
  border: none;
}

input::placeholder {
  color: #fff;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0.75rem;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
  width: 25rem;
}

p {
  font-size: 1.5rem;
}
