<section class="container">
  <h4>🌟 Voz dos Nossos Clientes!</h4>
  <div class="container-text">
    <p>
      <span>Testemunhos em Vídeo: </span> Deixe nossos clientes falar por si
    </p>
    <p>e veja o impacto da Brabos Digital em ação.</p>
  </div>
  <div class="container-video" #video>
    <div
      class="video"
      *ngFor="let video of videos; let i = index"
      [class.active]="i === currentIndex"
    >
      <iframe
        width="418"
        height="234"
        src="https://www.youtube.com/embed/8vkGADckmiI"
        frameborder="0"
        allow="accelerometer; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="container-button">
    <button (click)="prevSlide()">
      <img src="assets/seta-esquerda.svg" alt="seta" />
    </button>
    <button (click)="nextSlide()">
      <img src="assets/seta-direita.svg" alt="seta" />
    </button>
  </div>
</section>
