.container {
  display: flex;
  gap: 1.125rem;
}

.photo-container {
  display: flex;
  gap: 1.125rem;
  width: 9.3rem;
  height: 29.1;
  transition: width 0.3s, height 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.photo-container.expanded {
  width: 21.6rem;
}

.photo-wrapper {
  display: flex;
  align-items: flex-end;
}

.photo-name {
  position: absolute;
  transform-origin: left top;
  font-size: 2.5rem;
  font-weight: bold;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.photo-name.vertical {
  transform: rotate(0deg);
  margin-bottom: 2.5rem;
  margin-left: 0.75rem;
}
