section {
  margin-top: 7.3rem;
}

.container-geral {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url("src/assets/backgroundspace.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(30, 30, 30, 0.9);
  position: relative;
}

.container {
  margin-left: 6.8rem;
}

.container-card {
  margin-right: 2rem;
  margin-bottom: 9rem;
  z-index: 100;
}

.cards {
  display: flex;
  gap: 1.75rem;
  margin-top: 1.9rem;
}

h1 {
  font-size: 3rem;
  color: #fff;
  width: 100%;
  width: 35.8rem;
  margin-top: 2.5rem;
}

.container h1::before {
  content: "";
  display: block;
  width: 7.5rem;
  height: 0.5rem;
  background-color: #3d5bff;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  color: #ef3dff;
  margin-top: 0.6rem;
  width: 100%;
  width: 30rem;
}

button {
  background-color: #ef3dff;
  margin-top: 2rem;
}

.blur {
  position: absolute;
  top: -200px;
  right: -400px;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  section {
    margin-top: 5rem;
    display: block;
  }
  .container-geral {
    flex-wrap: wrap;
  }
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
}
