<section class="background">
  <div class="container">
    <h1>🌟Destaque-se com a Estratégia Vencedora da Brabos!</h1>
    <p>
      Nossa equipe conta com profissionais de estratégia de marketing e de
      negócios.
    </p>
    <button>Clique aqui e saiba mais!</button>
  </div>
  <div class="container-card">
    <div class="cards">
      <app-card
        [src]="'assets/ux.svg'"
        [alt]="'ux'"
        [title]="'Metodologia Inovadora'"
        [text]="
          'Por trás de cada vitória digital está uma estratégia magistralmente planejada. Nossa equipe de especialistas em marketing e negócios está pronta para guiar sua ascensão.'
        "
        [link]="'🚀 Desbloqueie Seu Sucesso'"
      ></app-card>
      <app-card
        [src]="'assets/camera.svg'"
        [alt]="'camera'"
        [title]="'🎬 Vídeos que Conquistam:'"
        [text]="
          'Domine as Redes Sociais com Nossas Produções Audiovisuais. Alcance novos patamares com conteúdo que brilha e converte.'
        "
        [link]="'📽️ Assista ao Showcase'"
      ></app-card>
    </div>

    <div class="cards">
      <app-card
        [src]="'assets/alvo.svg'"
        [alt]="'alvo'"
        [title]="'🎨 Design que Encanta'"
        [text]="
          'Não criamos apenas designs, construímos experiências incríveis. Das cores às tipografias, nossa abordagem de Design UX e UI redefine o padrão, garantindo uma presença digital de impacto.'
        "
        [link]="'🎉 Veja Nossas Criações'"
      ></app-card>
      <app-card
        [src]="'assets/layer.svg'"
        [alt]="'layer'"
        [title]="'💰 Tráfego de Resultados'"
        [text]="
          'Eleve sua Marca ao Topo! Nossas Campanhas de Tráfego Pago posicionam você como líder, superando metas e conquistando destaque.'
        "
        [link]="'🚀 Explore os Casos de Sucesso'"
      ></app-card>
    </div>
  </div>
</section>
